name: Build and deploy JAR app to Azure Web App - shopping-cart-duy-2026

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Set up Java version
        uses: actions/setup-java@v4
        with:
          java-version: '17' # Đảm bảo khớp với version bạn dùng
          distribution: 'microsoft'

      - name: Build with Maven
        # Lệnh này sẽ nhảy vào đúng thư mục chứa code để build
        run: mvn clean install -f re-shopping-cart-website-main/pom.xml

      - name: Upload artifact for deployment job
        uses: actions/upload-artifact@v4
        with:
          name: java-app
          # Đường dẫn này trỏ vào file .jar vừa build xong
          path: '${{ github.workspace }}/re-shopping-cart-website-main/target/*.jar'

  deploy:
    runs-on: ubuntu-latest
    needs: build
    permissions:
      id-token: write
      contents: read

    steps:
      - name: Download artifact from build job
        uses: actions/download-artifact@v4
        with:
          name: java-app

      - name: Login to Azure
        uses: azure/login@v2
        with:
          client-id: ${{ secrets.AZUREAPPSERVICE_CLIENTID_6440AF3EB1804971A25D52FBD95C6FA6 }}
          tenant-id: ${{ secrets.AZUREAPPSERVICE_TENANTID_5D597A5BABB647679982677C3274CECC }}
          subscription-id: ${{ secrets.AZUREAPPSERVICE_SUBSCRIPTIONID_509BD977418647A0BCE21746F641E44D }}

      - name: Deploy to Azure Web App
        uses: azure/webapps-deploy@v3
        with:
          app-name: 'shopping-cart-duy-2026'
          package: '*.jar'
